body {
  background: #181818;
  color: #ffffff;
  margin: 0;
  font-family: sans-serif;
}

#header {
  background: #212121;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
  padding: 1em;
  text-align: center;
}

#instructions {
  padding: 3em;
  text-align: center;
  font-size: x-large;
}

#output {
  text-align: center;
  font-size: x-large;
}

#gameStats {
  width: 30%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  background-color: #212121;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
  visibility: hidden;
}

#restartBtn {
  display: inline-flex;
  background-color: #212121;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin: 3em;
  padding: 0.3em 1em;
  visibility: hidden;
}

.restartRadio {
  display: none;
}

.restartLabel {
  padding: 8px 14px;
  font-size: x-large;
  color: #fff;
  cursor: pointer;
}

.unitInput:checked + .unitLabel {
  background: #3d3d3d;
}
